:root{
    --colorNU:rgb(130,10,209);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans';
    font-style: normal;   
    margin-left: 50px; 
}

h1{
    font-size: 70px;
    color: white;
}

h2{
    font-size: 45px;
    color: rgb(125, 125, 125);
    text-align: left;
    padding-top: 50px;
}

h3{
    font-size: 40px;
    color: rgb(125, 125, 125);
    text-align: left;
    padding-top: 20px;
}

body{
    background-color: var(--colorNU);
}

.telaInicial{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/NU.png);
    background-repeat: no-repeat;
    background-size: 20%;    
    background-position: 50% 50%;         
}

.telaHome{
    width: 100%;
    height: 100vh;    
    display: none;    
}

.marginLateral{
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.navbar{
    background-color: var(--colorNU) !important;
}

.buttonSuperior{
    background-color: rgba(255, 255, 255, 0.08);    
    border-radius: 100%;
    border-color: transparent;
    margin-left: 30px;
}

.sliderCARD{        
    height: 60vh;           
    background-color: var(--colorNU);     
    padding-bottom: 3vh;
    margin-top: 13vh;  
}

.slidesCARD {
    display: grid;    
    overflow-y: auto;        
}

.slideCARD {    
    flex-shrink: 0;
    width: 90%;
    height: auto; 
    background-color: aliceblue;
    margin-bottom: 2.5vh;
    border-radius: 10px;
    border: none;   
}

.slider{
    width: 100%;           
    background-color: var(--colorNU);  
    padding-left: 3.5vw;
    padding-bottom: 3vh;
    padding-top: 3vh;  
}

.slides {
    display: flex;
    overflow-x: auto;        
}

.slide {    
    flex-shrink: 0;
    width: 21vw;
    height: 21vw;    
    background-color: rgba(255, 255, 255, 0.08);
    margin-right: 2vw;
    border-radius: 5px;
    border: none;   
}